<div class="component-container">

  <div class="button-wrapper">
    <button class="button log-button" mat-raised-button (click)="logout()">Log out</button>
    <button class="button lang-button" mat-button (click)="localeService.switchLanguage('en')">En
    </button>
    <button class="button lang-button" mat-button (click)="localeService.switchLanguage('ru')">Ru
    </button>
  </div>
</div>

<!--[disabled]="myStorage.key('authId')"-->


<!--<div class="app-menu">-->
  <!--<nav>-->
  <!--<ul>-->
    <!--<li><a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a></li>-->
    <!--<li><a routerLink="form-editor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Form editor</a></li>-->
    <!--<li><a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login page</a></li>-->
    <!--<li><a routerLink="forgot-password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Forgot password</a></li>-->
  <!--</ul>-->
  <!--</nav>-->
<!--</div>-->
<router-outlet></router-outlet>
